In [41]:
import numpy as np
import pandas as pd
import healpy as hp
import matplotlib.pyplot as plt

from astropy.cosmology import Planck15

%matplotlib inline

In [42]:
# How many fake halos
Nh_fake = 20

Load Tully catalog and remove garbage halos

In [43]:
tully_cat = pd.read_csv("../DataFiles/Catalogs/2MRSTully_ALL_DATAPAPER_Planck15_v4.csv")
tully_cat = tully_cat[tully_cat['mulog10J_inf'] > -900]

Get their angular extent, defined as $2 r_s/d_A$, and get minimum and maximum values

In [44]:
ang_ext = 2*tully_cat['rs'].values/(Planck15.angular_diameter_distance(tully_cat['z']).value*1000)*(180/np.pi)

In [45]:
ang_ext

array([ 1.79187433,  1.12941394,  0.95258013, ...,  0.03100132,
        0.02948074,  0.0288448 ])

In [46]:
theta_min = np.min(ang_ext)
theta_max = np.max(ang_ext)

Fix the redshift and get rs values corresponding to linspaced angular extensions between min and max in the catalog

In [57]:
z_fix = 0.003
dA_fix = Planck15.angular_diameter_distance(z_fix).value*1000

In [58]:
dA_fix

13227.981671549178

In [ ]:
theta_rep = np.linspace(theta_min,theta_max,Nh_fake)*(np.pi/180)

In [59]:
rs_rep = np.linspace(dA_fix*theta_min,dA_fix*theta_max,Nh_fake)/2.*(np.pi/180)

In [61]:
rs_rep

array([   3.21554528,   13.93297214,   24.65039901,   35.36782587,
         46.08525273,   56.8026796 ,   67.52010646,   78.23753332,
         88.95496018,   99.67238705,  110.38981391,  121.10724077,
        131.82466763,  142.5420945 ,  153.25952136,  163.97694822,
        174.69437509,  185.41180195,  196.12922881,  206.84665567])

Make table with fake values for other quantities that are loaded

In [62]:
sales = zip(np.ones(Nh_fake)*15,\
            np.ones(Nh_fake)*15,\
            np.ones(Nh_fake)*z_fix,\
            rs_rep)
labels = ['mulog10J_inf',"mulog10Jnb_inf","z","rs"]
cat_fake = pd.DataFrame.from_records(sales, columns=labels)

In [63]:
cat_fake

    mulog10J_inf  mulog10Jnb_inf      z          rs
0           15.0            15.0  0.003    3.215545
1           15.0            15.0  0.003   13.932972
2           15.0            15.0  0.003   24.650399
3           15.0            15.0  0.003   35.367826
4           15.0            15.0  0.003   46.085253
5           15.0            15.0  0.003   56.802680
6           15.0            15.0  0.003   67.520106
7           15.0            15.0  0.003   78.237533
8           15.0            15.0  0.003   88.954960
9           15.0            15.0  0.003   99.672387
10          15.0            15.0  0.003  110.389814
11          15.0            15.0  0.003  121.107241
12          15.0            15.0  0.003  131.824668
13          15.0            15.0  0.003  142.542094
14          15.0            15.0  0.003  153.259521
15          15.0            15.0  0.003  163.976948
16          15.0            15.0  0.003  174.694375
17          15.0            15.0  0.003  185.411802
18          15.0            15.0  0.003  196.129229
19          15.0            15.0  0.003  206.846656

In [64]:
cat_fake.to_csv("../DataFiles/Catalogs/fake_cat_angext_v1.csv")